*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: 'helvetica neue'; */
  color: black;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', sans-serif;
}

html,body{
  height: 100%;
  width: 100%;
  /* background-color: #111; */
  /* font-family: 'helvetica neue'; */
  /* font-family: 'Inter', sans-serif; */
  
}

.parent{
  min-height: 100vh;
  min-width: 100vw;
  background-color: #111;
  padding: 20px;
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.center .main{
  margin-bottom: 1px;
}
.card{
  height: 330px;
  width: 280px;
  background-color: #fff;
  border-radius: 30px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card .top{
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin-top: 20px; */
}
.top img{
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 1px solid #e8e5e5;
  padding: 2px;
}
.top button{
  color: rgb(202, 197, 197);
  display: flex;
  align-items: center;
  border: 2px solid#f3f3f3;
  padding: 3px 6px;
  font-size: 14px;
  border-radius: 10px;
  gap: 3px;
  background-color: transparent;
  /* background-color: #b1b1b1; */

}

.bottom{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1.5px solid#b1b1b1;
  padding-top: 15px;
}


.center h3{
  font-size: 19px;
  font-weight: 500;
  /* margin: 0; */
}

.center h2{
  font-size: 20px;
  /* margin: 0; */
}
.center .tag{
  display: flex;
  gap: 5px;
  margin-top: 5px;
}
.center .tag h4{
  font-size: 12px;
  background-color: #dadada;
  color: #111;
  padding: 4px 8px;
  font-weight: 500;
  border-radius: 5px;
}
.center h3 span{
  font-size: 9px;
  font-weight: 400;
  color: #8b8b8b;
}

.center h2{
  font-size: 20px;
}

.bottom button{
  border-radius: 5px;
  background-color: #111010;
  color: #fff;
  border: none;
  padding: 5px 5px;
}
.bottom{
  /* display: flex;
  align-items: center;
  justify-content: center; */
  border-top: 1.5px solid #d7d7d7;
  padding-top: 15px;
}
.bottom h3{
  font-size: 17px;
}
.bottom p{
  font-size: 10px;
  color: #b1b1b1;/
  /* font-family: 'Inter', sans-serif; */
}